@tailwind base;
@tailwind components;
@tailwind utilities;

/* * Root */
:root {
  --primary-bg-clr: #101521;
  --font-clr: #ffffff;
  --clr2: #add4b2;
  --clr3: #101722;
  --clr4: #cfc6ff;
  --clr5: #0d0d0d;
  --clr6: #3f424c;
  --clr1: #c9a84e;
  --clr7: #2a6646;
  --clr8: #f6bde9;
  --clr9: #000000;
  --clr10: #262e36;
  --clr11: #c6c6c6;
  --clr12: #fbc941;
  --clr14: #acd8b5;
}
body {
  @apply bg-[#101521];
}
.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}

/* ? Header Section Start */

.digital {
  position: relative;
  padding-left: 25%;
}
.header_title {
  font-size: clamp(2.5rem, 8vw + 1.5rem, 12rem);
  line-height: 1.2;
}
.header-section {
  position: relative;
}
.header_text {
  position: relative;
}
.round_img {
  /* border: 2px solid red; */
  position: absolute;
  width: max(5vh, 4rem);
  aspect-ratio: 1 /1;
  border-radius: 50%;
  overflow: hidden;
  outline: 3px solid #e68e09;
  outline-offset: 10px;
  top: 5%;
  right: -5%;
}
.round_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user_img1 {
  display: none;
  max-width: 13rem;
  height: 15rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: absolute;
  top: 20%;
  right: 0%;
}
.user_img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user_img {
  position: absolute;
  width: max(3vh, 12rem);
  height: 17rem;
  border-radius: 0.5rem;
  overflow: hidden;
  right: 0%;
  bottom: 0%;
}
.user_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.digital::after {
  position: absolute;
  content: "world class";
  text-transform: capitalize;
  border: 2px solid rgb(245, 242, 242);
  font-size: clamp(0.5rem, 2vw, 0.7rem);
  display: block;
  padding: 0.5rem;
  outline: 2px solid rgb(240, 239, 239);
  outline-offset: 0.25rem;
  top: 45%;
  left: 0%;
  transform: rotate(-25deg);
}
.fa-arrow-up {
  @apply transform rotate-45 text-[#101521] ml-2;
}
.fa-play {
  @apply text-gray-800;
}
.fa-star {
  @apply hidden sm:text-4xl text-[#ffcb66];
}
.header-btn {
  @apply border-none outline-none capitalize font-bold bg-[#ffcb66] text-[#101521] py-2 px-8 rounded-3xl;
}
.play-btn i {
  color: #e68e09;
  font-size: clamp(2rem, 3vw, 4rem);
}
.cards,
.header_content {
  max-width: 75%;
  z-index: 100;
}
/* ! Header Section End */

.desk_nav li {
  position: relative;
  padding-bottom: 0.5rem;
  color: #c6c6c6;
  font-weight: bold;
  transition: color 300ms ease-in;
}
.desk_nav li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  bottom: 0%;
  left: 0%;
  opacity: 0;

  transition: opacity 300ms ease-in, background-color 300ms ease-in;
}
.desk_nav li:hover::after {
  opacity: 1;
  background-color: #add4b2;
}
.desk_nav li:hover {
  color: #c9a84e;
}
.mob_nav {
  position: fixed;
  height: 100vh;
  background-color: hsla(225, 9%, 27%, 0.455);
  color: #c6c6c6;
  width: 100%;
  inset: 0rem 0rem 0rem 40%;
  padding-block-start: 5rem;
  padding-inline-start: 2rem;
  right: 0%;
  top: 0%;
  z-index: -100;
  padding: 10rem 2rem;
  transform: translateX(100%);

  transition: transform 300ms ease-in;
  border-bottom-left-radius: 15rem;
}
.mob_nav-animation {
  transform: translateX(0%);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .mob_nav {
    -webkit-backdrop-filter: blur(0.7rem);
    backdrop-filter: blur(0.7rem);
    background-color: rgba(20, 27, 28, 0.41);
  }
}

.mob_nav li + li {
  margin-top: 0.5rem;
}
.mob_nav li a {
  font-size: clamp(0.8rem, 5vw + 0.8rem, 1.2rem);
  font-weight: bold;
  transition: color 300ms ease-in;
}
.mob_nav li a:hover {
  color: #c9a84e;
}
.nav_content {
  @apply flex items-center justify-between gap-2 relative;
}
.mobile_nav {
  /* position: absolute; */
  z-index: 999;
}
@media (min-width: 639px) {
  .mob_nav {
    display: none;
  }
}
@media (max-width: 600px) {
  .header_content {
    /* border: 2px solid yellow; */
    max-width: 90%;
  }
}

/* ? Nav Section Start */

/* ! Nav Section End */
.hero_title {
  @apply text-5xl leading-4 capitalize font-bold;
}
/* ? Money Section Start */

.money_container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.money_container *:nth-child(1) {
  flex: 1 1 38%;
}
.money_container *:nth-child(2) {
  flex: 1 1 53%;
}
.money_title {
  @apply font-bold capitalize;
}
.money_play-btn {
  position: absolute;
  left: 70%;
  top: 0%;
  transform: translate(-50%, -50%);
  background-color: green;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  outline: 2px solid transparent;
  outline-offset: 7px;
  transition: outline 300ms ease-in;
}
.money_play-btn i {
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: goldenrod;
}
.money_play-btn:hover {
  outline: 2px solid goldenrod;
}
.money_title {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  line-height: 1.1;
}
.money_text {
  position: relative;
  padding-left: 1rem;
  padding-block: 2rem;
}
.money_text::before {
  position: absolute;
  content: "";
  width: 0.15rem;
  height: calc(100% - (4rem));
  color: white;
  background-color: #fff;
  left: 0%;
}
@media (max-width: 610px) {
  .money_container *:nth-child(1) {
    flex: 1 1 100%;
  }
  .money_container *:nth-child(2) {
    flex: 1 1 100%;
  }
  .money_img {
    max-width: 100%;
  }
}

/* ! Money Section End */

/* ? ClientFeedback Section Start */

.card_container {
  background-color: #262e36;
  position: relative;
  padding: 12rem;
  margin-top: 5rem;
  border-radius: 0.5rem;
}
.personal_comment {
  background-color: #e68e09;
  width: max-content;
  max-width: 21rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  position: absolute;
}
.person_text {
  width: 100%;
}
.person_text p {
  color: white;
  word-wrap: break-word;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.person_text h2 {
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
}
.person_img {
  max-width: 5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
}
.person_img img {
  object-fit: cover;
}
.personal_comment-1,
.personal_comment-4 {
  background-color: #008000;
}

.personal_comment-1 {
  top: 0%;
  transform: translate(-40%, -30%);
}
.personal_comment-2 {
  top: 0%;
  right: 0%;
  transform: translate(0%, -50%);
}
.personal_comment-2 p i,
.personal_comment-3 p i {
  color: #000000;
}
.personal_comment-3 {
  top: 40%;
  left: -2%;
}
.personal_comment-4 {
  top: 25%;
  right: 10%;
}
.client-btn_container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  /* align-items: center; */
  gap: 2rem;
}
.client-btn {
  border: 2px solid transparent;
  outline: none;
  /* background-color: #fff; */
  width: 3rem;
  /* aspect-ratio: 1/1; */
  height: 3rem;
  /* font-size: 2rem; */
  font-weight: lighter;
  border-radius: 50%;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: border 300ms ease-in, background-color 300ms ease-in;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-1 {
  background-color: #2a6646;
}
.btn-2 {
  background-color: #ffcb66;
}
.btn-1:hover {
  border: 2px solid green;
  background-color: transparent;
}
.btn-2:hover {
  border: 2px solid orange;
  background-color: transparent;
}
.ratings i {
  font-size: 0.8rem;
}
@media (max-width: 768px) {
  .personal_comment {
    max-width: 16rem;
    font-size: 0.7rem;
  }
  .personal_comment-1 {
    transform: translate(-70%, -30%);
  }
  .personal_comment h2 {
    font-size: 0.8rem;
  }
  .person_img {
    max-width: 4rem;
  }
}
@media (max-width: 600px) {
  .personal_comment {
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    transform: unset;
    max-width: unset;
    width: 100%;
  }
  .personal_comment + .personal_comment {
    margin-top: 1rem;
  }
  .card_container {
    padding: 2rem;
  }
  .client-btn_container {
    position: unset;
    bottom: unset;
    left: unset;
    transform: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
  }
}

/* ! ClientFeedback Section End */

.pricing_container1 {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
  justify-content: space-evenly;
}
.pricing_container1 * {
  flex-basis: 20%;
}
.price_section::after {
  position: absolute;
  content: "";
  background-color: #6e6666;
  width: 80%;
  height: 0.12rem;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
  .pricing_container1 * {
    flex-basis: 100%;
  }
}

/* ?? Patter Design Start */
.patter {
  padding: max(3vh, 4rem) 4rem;
}
.patter_container {
  top: -3%;
  right: -3%;
}
/* ! Patter Design End */
