@tailwind base;
@tailwind components;
@tailwind utilities;

/* * Root */
:root {
  --primary-bg-clr: #101521;
  --clr3: #101722;
  --clr5: #0d0d0d;
  --clr9: #000000;
  --clr6: #3f424c;
  --clr10: #262e36;
  --font-clr: #ffffff;
  --font-clr: #f2eeee;
  --clr2: #add4b2;
  --clr14: #acd8b5;
  --clr12: #fbc941;
  --clr1: #c9a84e;
  --clr7: #2a6646;
  --clr8: #f6bde9;
  --clr4: #cfc6ff;
  --clr11: #c6c6c6;
}
.flex-center {
  @apply flex items-center justify-center gap-4;
}
body {
  @apply bg-[#101521];
}
.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}

/* ? Header Section Start */

.digital {
  position: relative;
  /* padding-left: 15%; */
}
.header_title {
  @apply text-resFont-header-title leading-customThree;
}
.header-section {
  position: relative;
}
.header_text {
  position: relative;
}
.digital::after {
  position: absolute;
  content: "world class";
  text-transform: capitalize;
  border: 0.2rem solid rgb(245, 242, 242);
  font-size: clamp(0.4rem, 2vw, 0.5rem);
  display: block;
  padding: 0.5rem;
  outline: 0.2rem solid rgb(240, 239, 239);
  outline-offset: 0.25rem;
  top: 45%;
  left: 0%;
  transform: rotate(-25deg);
}
.fa-arrow-up {
  @apply transform rotate-45 text-[#101521] ml-2;
}
.fa-play {
  @apply text-gray-800;
}
.fa-star {
  @apply hidden sm:text-4xl text-[#ffcb66];
}
.header-btn {
  @apply border-none outline-none capitalize font-bold bg-[#ffcb66] text-[#101521] py-2 px-4 sm:px-8 rounded-3xl;
}
.play-btn i {
  @apply text-[#e68e09] text-play-btn-i;
}
.header-text-container {
  max-width: 70%;
}
.operator {
  @apply bg-[#c6c6c6] w-16 mb-4 aspect-square rounded-full flex items-center justify-center;
}
.header-text {
  @apply text-header-text break-words leading-customTwo;
}
.cards {
  @apply grid grid-cols-make-equal-cards-operator gap-4;
  max-width: 70%;
}
.header_content {
  @apply relative max-w-headerContent z-20;
}
.header_card {
  @apply max-w-fit text-center mt-16 bg-[#2a6646] p-6 rounded-lg;
}
.header_card-middle {
  @apply max-w-fit text-center mt-16 bg-[#fbc941] p-6 rounded-lg;
}
.button_container {
  @apply max-w-bottonCon gap-x-4;
}

.round_img {
  @apply absolute aspect-square rounded-full overflow-hidden  outline-offset-8 max-w-roundImg outline-4;
  outline: solid #fbc941;
  top: 5%;
  right: -5%;
}

.round_img img {
  @apply w-full h-full object-cover;
}
.user_img1 {
  @apply absolute h-32 rounded-lg overflow-hidden max-w-personImg;
  top: 30%;
  right: -8%;
}
.user_img1 img {
  @apply w-full h-full object-cover;
}
.user_img {
  @apply absolute rounded-lg overflow-hidden;
  right: 0%;
  bottom: 0%;
  /* z-index: -1; */
}
.user_big_img {
  @apply max-w-userBigImg h-52;
}
.user_img img {
  @apply h-full w-full object-cover;
}
@media (max-width: 650px) {
  .cards {
    max-width: 95%;
  }
  .digital::after {
    top: 5%;
    transform: rotate(-40deg);
    border: none;
    outline: none;
  }
}

@media (min-width: 450px) {
  .cards {
    max-width: 70%;
  }
  .user_img1 {
    max-width: 8rem;
    height: 11rem;
    right: -12%;
  }
  .digital {
    padding-left: 28%;
  }
}

@media (min-width: 800px) {
  .cards {
  }
  .user_big_img {
    max-width: 12rem;
    height: 17rem;
  }
  .user_img {
    right: 8%;
  }
  .user_img1 {
    max-width: 8rem;
    height: 13rem;
    right: -2%;
  }
  .digital {
    padding-left: 17%;
  }
}
@media (min-width: 1000px) {
  .user_big_img {
    max-width: 16rem;
    height: 22rem;
  }
  .cards {
  }
  .user_img {
    right: 7%;
  }
  .user_img1 {
    right: 7%;
    max-width: 10rem;
    height: 14rem;
  }
}
@media (min-width: 1200px) {
  .user_img1 {
    right: 0%;
  }
}

/* ! Header Section End */
/* ? Nav Section Start */
.nav {
  @apply py-8 absolute top-0 w-full z-30;
}
.nav_link {
  @apply capitalize text-base cursor-pointer;
}
.desk_nav li {
  @apply relative pb-2 text-[#c6c6c6] font-bold transition-colors duration-200 ease-in hover:text-[#c9a84e];
}
.desk_nav li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  bottom: 0%;
  left: 0%;
  opacity: 0;

  transition: opacity 300ms ease-in, background-color 300ms ease-in;
}
.desk_nav li:hover::after {
  opacity: 1;
  background-color: #add4b2;
}
.mob_nav {
  @apply fixed h-screen text-[#c6c6c6] w-full pt-36 z-40 rounded-bl-round-left pl-8 py-40 px-8 transition-transform duration-300 ease-in;
  top: 0%;
  transform: translateX(100%);
  inset: 0rem 0rem 0rem 40%;
}

.mob_nav-animation {
  transform: translateX(0%);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .mob_nav {
    -webkit-backdrop-filter: blur(0.7rem);
    backdrop-filter: blur(0.7rem);
    background-color: rgba(20, 27, 28, 0.41);
  }
}

.mob_nav li + li {
  margin-top: 0.5rem;
}
.mob_nav li a {
  @apply text-resFont-mob-nav font-bold transition-colors duration-300 ease-in hover:text-[#c9a84e];
}

.nav_content {
  @apply flex items-center justify-between gap-2 relative;
}
.mobile_nav {
  z-index: 9999;
}
@media (min-width: 639px) {
  .mob_nav {
    display: none;
  }
}
@media (max-width: 600px) {
  .header_content {
    max-width: 90%;
  }
}

/* ! Nav Section End */
.hero_title {
  @apply text-5xl leading-tight capitalize font-bold;
}
/* ? Money Section Start */

.money_container {
  @apply flex flex-wrap gap-12;
}
.money_container *:nth-child(1) {
  flex: 1 1 38%;
}
.money_container *:nth-child(2) {
  flex: 1 1 53%;
}
.money_title {
  @apply font-bold capitalize;
}
.money_play-btn {
  @apply absolute bg-[#2a6646] w-28 h-28 rounded-full cursor-pointer outline-4 outline-transparent outline-offset-8 transition-outline -translate-x-1/2 -translate-y-1/2 duration-300 ease-in hover:outline-4;
  left: 70%;
  top: 0%;
  z-index: 100;
}
.money_play-btn i {
  @apply text-resFont-money_play-i text-[#fbc941];
}
.money_play-btn:hover {
  outline: solid goldenrod;
}

.money_title {
  @apply leading-customOne text-resFont-money_title;
}
.money_text {
  @apply relative pl-4 py-8;
}

.money_text::before {
  position: absolute;
  content: "";
  width: 0.15rem;
  height: calc(100% - (4rem));
  color: white;
  background-color: #fff;
  left: 0%;
}
@media (max-width: 610px) {
  .money_container *:nth-child(1) {
    flex: 1 1 100%;
  }
  .money_container *:nth-child(2) {
    flex: 1 1 100%;
  }
  .money_img {
    max-width: 100%;
  }
}

/* ! Money Section End */

/* ? ClientFeedback Section Start */

.card_container {
  @apply relative bg-[#3f424c] p-48 mt-20 rounded-lg;
}

.personal_comment {
  @apply absolute w-max max-w-xs p-4 rounded-lg bg-[#c9a84e];
}
.person_text {
  width: 100%;
}
.person_text-para-tailwind {
  @apply text-[#ffffff];
}
.person_text p {
  @apply text-[#ffffff] break-words leading-5 mb-2;
}
.person_text h2 {
  @apply text-base text-[#ffffff] font-bold;
}
.person_img {
  @apply max-w-personImg aspect-square rounded-full overflow-hidden;
}
.person_img img {
  object-fit: cover;
}
.personal_comment-1,
.personal_comment-4 {
  background-color: #008000;
}

.personal_comment-1 {
  top: 0%;
  transform: translate(-40%, -30%);
}
.personal_comment-2 {
  top: 0%;
  right: 0%;
  transform: translate(0%, -50%);
}
.personal_comment-2 p i,
.personal_comment-3 p i {
  color: #000000;
}
.personal_comment-3 {
  top: 40%;
  left: -2%;
}
.personal_comment-4 {
  top: 25%;
  right: 10%;
}

.client-btn_container {
  @apply absolute flex gap-8;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.client-btn {
  @apply border-2 border-transparent outline-none w-12 h-12 font-bold rounded-full cursor-pointer p-4 text-center uppercase transition-border duration-300 ease-in transition-colors duration-300 ease-in;
}
.btn-1 {
  @apply bg-[#2a6646] hover:text-[#f2eeee] hover:border-2 hover:border-[#2a6646] hover:bg-transparent;
}
.btn-2 {
  @apply bg-[#ffcb66] hover:text-[#f2eeee] hover:border-2 hover:border-[#fbc941] hover:bg-transparent;
}
.ratings i {
  font-size: 0.8rem;
}
@media (max-width: 768px) {
  .personal_comment {
    max-width: 16rem;
    font-size: 0.7rem;
  }
  .personal_comment-1 {
    transform: translate(-70%, -30%);
  }
  .personal_comment h2 {
    font-size: 0.8rem;
  }
  .person_img {
    max-width: 4rem;
  }
}

@media (max-width: 600px) {
  .personal_comment {
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    transform: unset;
    max-width: unset;
    width: 100%;
  }
  .personal_comment + .personal_comment {
    margin-top: 1rem;
  }
  .card_container {
    padding: 2rem;
  }
  .client-btn_container {
    position: unset;
    bottom: unset;
    left: unset;
    transform: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
  }
}

/* * Blog Section Start */
.blog_cards {
  @apply grid grid-cols-make-equal-cards gap-8 place-items-center;
}
/* ! Blog Section End */
/* ! ClientFeedback Section End */
.pricing_container1 {
  @apply flex items-center justify-evenly gap-16 flex-wrap;
}
.pricing_container1 * {
  flex-basis: 20%;
}
.price_section::after {
  position: absolute;
  content: "";
  background-color: #6e6666;
  width: 80%;
  height: 0.12rem;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
  .pricing_container1 * {
    flex-basis: 100%;
  }
}

/* * Footer Section Start */
.footer_icons {
  @apply w-full flex items-center justify-center;
}
/*! Footer Section End */

/* ?? Patter Design Start */

.patter_container {
}
.patter {
  padding: max(3vh, 4rem) 4rem;
}
.patter_container {
  top: -3%;
  right: -3%;
}
/* ! Patter Design End */
